/*-------------------------------*/
/*  Color preferenses
/*-------------------------------*/
/* Content:
  
0. Color style;
1. Main;
2. Header;
  2.1. Loader;
  2.2. Logo;
  2.3. Menu;
3. Maim sections styles;
4. About section;
5. Resume section;
6. Portfolio section;
7. Contact section;
8. Footer section.

/*-------------------------------*/
/*  1. Main
/*-------------------------------*/
body {
  color: #222;
}

a {
  color: #FF6347;
}

p,
.s_about li {
  color: #888;
}

/*-------------------------------*/
/*  2. Header
/*-------------------------------*/
.main_color_bg {
  background-color: #222;
}

/* 2.1. Loader */
.loader, .loader_inner {
  background-color: #FFF;
}

/* 2.2. Logo */
path {
  fill: #F3F3F3;
  stroke: #FF6347;
}

/* 2.3. Menu */
.toggle_menu {
  background-color: #F3F3F3;
  border-color: #FF6347;
}

.top_menu a:hover {
  color: #FF6347;
}
.top_menu a {
  letter-spacing: 3px;
}

.sw-topper,
.sw-bottom,
.sw-footer {
  background: #FF6347;
}

/*-------------------------------*/
/*  3. Main sections styles
/*-------------------------------*/
section h3 {
  letter-spacing: 4px;
  color: #888;
}

.s_descr {
  letter-spacing: 4px;
}
.s_descr::after {
  background-color: #222;
}

.top_text p, .top_text h1 {
  color: #F3F3F3;
  letter-spacing: 5px;
}
.top_text p span, .top_text h1 span {
  color: #FF6347;
}

.bg_light {
  background-color: #F3F3F3;
}

.bg_dark {
  background-color: #222;
  color: #fff;
}
.bg_dark .s_descr::after {
  background-color: #fff;
}
.bg_dark a {
  color: #fff;
}

/*-------------------------------*/
/*  4. About section
/*-------------------------------*/
.personal img {
  border-color: #FF6347;
}

.panel-title a {
  color: #222;
  letter-spacing: 4px;
}
.panel-title a:hover, .panel-title a:focus {
  color: #FF6347;
}

/*-------------------------------*/
/*  5. Resume section
/*-------------------------------*/
.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content h3 {
  color: #FF6347 !important;
}

.vco-timeline .vco-navigation .timenav .content .marker.active .line, .vco-timeline .vco-navigation .timenav-background .timenav-line {
  background-color: #FF6347 !important;
}

.vco-timeline .vco-navigation .timenav .content .marker .line .event-line, .vco-timeline .vco-navigation .timenav .content .marker.active .line .event-line, .vco-timeline .vco-navigation .timenav .content .marker.active .dot {
  background: #FF6347 !important;
}

.vco-timeline .vco-navigation .timenav-background {
  background-color: #F3F3F3 !important;
}

/*-------------------------------*/
/*  6. Portfolio section
/*-------------------------------*/
.s_portfolio li {
  color: #888;
  letter-spacing: 2px;
}
.s_portfolio li.active {
  color: #FFF;
  border-bottom: 1px solid #FF6347;
}

.mask a {
  color: #FF6347;
  border-color: #FF6347;
}

/*-------------------------------*/
/*  7. Contact section
/*-------------------------------*/
form input:focus,
form textarea:focus {
  border: 1px solid #FF6347;
}
form input,
form textarea {
  letter-spacing: 2px;
  border: 1px solid #ccc;
}
form button {
  background-color: #FF6347;
  letter-spacing: 2px;
}
form .form-group .text-danger {
  color: #FF6347;
}
form .fa-asterisk {
  color: #FF6347;
}

/*-------------------------------*/
/*  8. Footer
/*-------------------------------*/
.main_footer {
  color: #888;
  letter-spacing: 1px;
}
.main_footer .heart, .main_footer a {
  color: #FF6347;
}
